.event-cards{
    height: max-content;
    background: white;
    padding-top: 3rem;
}

.event-card{
    margin-top: 6rem;
    position: relative;

}
.month{
    position: absolute;
    top: -70px;
    left: 0;
    padding: 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    width: 100%;
}