.socials-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px 20px;
  }
  
  .socials-left {
    display: flex;
    align-items: center;
  }
  
  .socials-logo {
    height: 40px;
    margin-right: 20px;
  }
  
  .socials-right {
    display: flex;
    margin-right: 40px;
  }
  
  .socials-icon {
    color: #007bff;
    font-size: 35px;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
    margin-right: 20px;
    transition: .3s ease;
  }
  
  .socials-icon:hover {
    color: #007bff;
    cursor: pointer;
    transform: scale(2.1);
    margin-right: 30px;
  }
  