.spotlight {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .spotlight-card p{
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    padding: 1rem;
  }
  
  @media (max-width: 767px) {
    .spotlight {
      height: auto;
      min-height: 100vh;
    }
  }
  
  .spotlight-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 5rem;
    position: relative;
   }
  
  .spotlight-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  
  .spotlight-button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: -30px;
  }
  
  .spotlight-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 70vh;
  }
  
  @media (max-width: 767px) {
    .spotlight-cards {
      flex-direction: column;
      height: auto;
      min-height: 70vh;
    }
  }
  
  .spotlight-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    padding: 1rem;
    width: 30%;
    height: max-content;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 2rem;
   }
  
  @media (max-width: 767px) {
    .spotlight-card {
      width: 100%;
    }
  }
  
  .spotlight-card-image {
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
    border-radius: 1.25rem;

   }
  
  .spotlight-card-text {
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  
  .spotlight-card-button {
     color: #007bff;
     position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    border: 1px solid #007bff;
    padding: 10px 20px 10px 20px;
   }  

   @media (max-width: 700px){
    .spotlight-card{
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
      
    .spotlight-card-button {
      width: 200px;
      margin-left: calc(50% - 100px);
      border-radius: 10px;
       
    }  
    .spotlight-button{
      display: none;
    }
    

   }
