.sub_banner {
  
    padding-top: 50px;
    background-color: light#007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding-left: 3rem;
    padding-right: 3rem;
    
  }
  
  .banner__text {
    color: rgb(72, 72, 232);
    text-align: center;
    font-size: 14px;
    margin: 0;
  }
  
  .banner__link {
    color: #007bff;
    text-decoration: underline;
  }
  @media (max-width: 700px){
    .sub_banner{
      padding-top: 5rem;
    }
  }