.sub_banner {
    background-color: light#007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
  
  .sub_banner__text {
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
  
  .sub_banner__link {
    color: white;
    text-decoration: underline;
  }
  